/* IOTA 특정 요소 */
.iota-connect-button {
  background-color: transparent !important;
  border: 1px solid theme('colors.nasun.c4') !important;
  color: theme('colors.nasun.black') !important;
  border-radius: 2px !important;
  font-family: "arquivo", sans-serif !important;
  width: 100% !important;
}

.iota-connect-button:hover {
  background-color: theme('colors.nasun.white') !important;
  color: theme('colors.nasun.black') !important;
}

.dark .iota-connect-button {
  color: theme('colors.nasun.white') !important;
  border-color: theme('colors.nasun.c4') !important;
}

.dark .iota-connect-button:hover {
  background-color: theme('colors.nasun.black') !important;
}

/* Sui 특정 요소 */
.sui-connect-button {
  background-color: transparent !important;
  border: 1px solid theme('colors.nasun.c4') !important;
  color: theme('colors.nasun.black') !important;
  border-radius: 2px !important;
  font-family: "arquivo", sans-serif !important;
  width: 100% !important;
}

.sui-connect-button:hover {
  background-color: theme('colors.nasun.white') !important;
  color: theme('colors.nasun.black') !important;
}

.dark .sui-connect-button {
  color: theme('colors.nasun.white') !important;
  border-color: theme('colors.nasun.c4') !important;
}

.dark .sui-connect-button:hover {
  background-color: theme('colors.nasun.black') !important;
}
